<style>
    nav {
        width: 100vw;
        height: 40px;
        background-color: blue;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    a {
        color: white;
        text-decoration: none;
    }
</style>

<nav>
    <a href="#">ABOUT</a>
    <a href="#">SKILLS</a>
    <a href="#">EXPERIENCE</a>
    <a href="#">EDUCATION</a>
    <a href="#">DOWNLOAD CV</a>
</nav>